<h3>List Component</h3>
<div *ngIf="cars.length > 0; then carList; else noData"></div>
<ng-template #carList>
  <ul>
    <li *ngFor="let carName of cars">{{ carName }}</li>
  </ul>
</ng-template>

<ng-template #noData>
  <p>No Data Available</p>
</ng-template>


<!-- <app-form (carAdded)="carDataUpdated($event)"></app-form> 
<h3>List Component</h3>
<div *ngIf="cars.length > 0; then carList; else noData"></div>
<ng-template #carList>
  <ul>
    <li *ngFor="let carName of cars">{{ carName }}</li>
  </ul>
</ng-template>

<ng-template #noData>
  <p>No Data Available</p>
</ng-template> -->
